<h1>Livros</h1>
<div class="books">
    {{#each books}}
    <div class="book">
        <img src="{{this.image}}" alt="{{this.name}}">
        <h3>{{this.name}}</h3>
        <p>R$ {{this.price}}</p>
    </div>
    {{/each}}
</div>