<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/books">Catálogo</a></li>
            <li><a href="/books/add">Cadastrar Livro</a></li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>