<a href="/users">Voltar</a>
<h1>Adicionar Livro</h1>
<form action="/users/add" method="POST">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o Nome do Usuário">
    </div>
    <div class="form-control">
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" placeholder="Digite o CPF do Usuário">
    </div>
    <div class="form-control">
        <label for="address">Endereço:</label>
        <input type="text" name="address" placeholder="Digite o Endereço do Usuário">
    </div>
    <input type="submit" value="Cadastrar" class="btn">
</form>