<h1 class="home">Bookstore</h1>
<div>
    <h2 class="home" >Seja bem vindo!</h2>
</div>
<div class="img-container">
    <img class="enter" src="https://d.newsweek.com/en/full/1549016/cul-map-bookstores-banner.webp?w=1280&f=7a4f92d2f3b763f0c203ccaf991714b1" alt="livraria panorâmica">
</div>
<div class="link">
    <a href="/books">Todos os Livros</a>
    <a href="/users">Todos os Usuários</a>
</div>
